[build]
  command = "npm run build"
  publish = ".output/public"

[build.environment]
  NODE_VERSION = "22.12.0"
  NPM_FLAGS = "--legacy-peer-deps"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
