@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bonheur+Royale&family=Cal+Sans&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Limelight&family=Sacramento&display=swap');

@font-face {
    font-family: 'MintSans';
    src: url('@/assets/fonts/MintSansRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MintSansLight';
    src: url('@/assets/fonts/MintSansExtraLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MintSansBold';
    src: url('@/assets/fonts/MintSansBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.app-font {
    font-family: 'MintSans', cursive;
}

.app-font-light {
    font-family: 'MintSans', cursive;
    font-weight: 300;
}

.app-font-bold {
    font-family: 'MintSansBold', cursive;
}

.isi-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}